

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Serif', serif;
    background-color: rgb(255, 255, 255);
}

/*CSS DEL NAV*/
nav ul{
    list-style: none;
    background-color: rgb(213, 241, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    border: 1px solid black;
    padding: 15px;
    border-radius: 80px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.logo img{
    height: 70px;
    width: 70px;
}

/**CSS DEL BANNER**/

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}
.banner img{
    width: 99%;
    border-radius: 30px;
    align-items: center;

}

/*CSS DE SERVICIOS*/

main {
    margin: 50px 0;
}

main h1{
    font-size: 50px;
    letter-spacing: 5px;
    text-align: center;
    margin: 30px 0px;
}

main h2{
    text-align: center;
    margin: 20px 0px;
}

main .servicios {
    margin: 40px 0;
    display: flex;
}
main .servicios .servicios__card h3{
    text-align: center;
}

main .servicios .servicios__card img{
    margin: 0 70px;
    box-shadow: 1px 1px 5px rgb(119, 118, 118);
    border-radius: 50px;
    width: 400px;
    height: 400px;
}


main .servicios .servicios__card p{
    text-align: center;
    margin: 0 50px;
}

.banner {
    border-radius: 30px;
    align-items: center;
}

/*CSS DEL FOOTER**/

footer{
    list-style: none;
    background-color: rgb(213, 241, 247);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .menu-footer ul{
    list-style: none;
    background-color: rgb(213, 241, 247);
}

footer .menu-footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 12px;
}

footer p{
    text-align: center;
    font-size: 15px;
}

footer .redes a{
    margin: 10px;
    text-decoration: none;
    color: black;
}
footer .redes a img{
    width: 20px;
}

footer a p{
    display: inline-block;
    padding: 15px;
}
/*PRODUCTOS*/

.productos{
    display: flex;
}

.productos__card{
    margin: 0 50px;
}

.productos .productos__card img{
    margin: 0 30px;
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
    border-radius: 50px;
}

/*CONTACTO*/

.contacto__formulario{
    width: 50%;
}

.contacto__formulario div{
    font-size: 20px;
    margin: 50px;
}

.contacto__formulario input{
    font-size: 20px;
}

.contacto__formulario {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
}

.contacto__formulario  label {
    display: inline-block;
}
  
.contacto__formulario input, textarea {
    width: 300px;
}

.contacto__formulario input{
    margin: 5px;
}

/*CSS ABOUT*/

main .about{
    display: flex;
}

main .about img{
    width: 50%;
    box-shadow: 2px 2px 5px rgb(119, 118, 118);
    border-radius: 50px;
    margin: 0 15px;
}

main .about p{
    font-size: 40px;
    text-align: center;
}

/*CSS DE COMO COMPRAR*/

.metodos{
    display: flex;
    justify-content: space-around;
}

.metodos .metodos__card{
    text-align: center;
    margin: 0 50px;
}

main .metodos .metodos__card img{
    width: 400px;
    height: 400px;
    box-shadow: 1px 1px 5px rgb(119, 118, 118);
    border-radius: 50px;
    margin: 0 15px;
}

main .metodos .metodos__card p{
    margin: 0 50px;
    text-align: center;
}