

/* CSS CONTACTO */

main{
    .contacto{
        display: flex;
        flex-direction: column;
        max-width: 25rem;
        width: 90%;
        background: #F9F9F9;
        padding: 1.5rem;
        margin: 5rem auto;
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

        form{
            fieldset{
                border: medium none !important;
                margin: 0 0 10px;
                min-width: 100%;
                padding: 0;
                width: 100%;

                div{

                    input,
                    textarea{
                        width: 100%;
                        border: 1px solid #ccc;
                        background: #FFF;
                        margin: 2rem 0 0 0;
                        padding: 1rem;

                        &:hover{
                            transition: border-color 0.3s ease-in-out;
                            border: 1px solid #aaa;
                        }

                        &:focus{
                        border: 1px solid black;
                        }
                    }

                    button{
                        @include botones;

                        &:hover{
                        @include botones-hover
                        }
                    }
                }
                
                h2{
                font-size: 2rem;
                }   
            } 
        }
    }
}